.login-panel {
  margin: auto;
  width: 30%;
}

.center-70pct {
  margin: auto;
  width: 70%;
}


.center-40pct {
  margin: auto;
  width: 40%;
}

.btn-panel {
  margin-top: 50px;
}

.title {
  text-align: center;
  width: 100%;
}

.home-button {
  width: 100%;
  padding: 20px;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

.active {
  color: navy;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.request {
  margin-left: 10px;
  font-style: italic;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
  padding: 5px;
}

.filter-box {
  padding: 5px;
}

.toggle-private {
  margin-left: 5px;
}

.create-another {
  margin: 5px;
}

.modal-style {

}

.modal-style-inline {
  display: inline-block;
  margin: 5px;
}


